# =========================
# ENV
# =========================
.env
.env.*

# =========================
# Backend (Spring)
# =========================
.gradle/
build/
*.log

# =========================
# Frontend (Vue)
# =========================
node_modules/
dist/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml
*.iws
*.ipr

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Upload / Static
# =========================
uploads/